{% extends "base.html" %}

<!--  -->

{% load static %}

<!--  -->

{% block content %}

<!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div
      class="overlay bg-parallax"
      data-stellar-ratio="0.9"
      data-stellar-vertical-offset="0"
      data-background=""
    ></div>
    <div class="container">
      <div class="banner_content text-center">
        <h2>Login</h2>
        <div class="page_link">
          <a href="{% url 'index' %}">Home</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Blog Area =================-->
<section class="blog_area p_100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>Add New Post</h2>
        <div class="blog_left_sidebar">
          <!-- form -->
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- errors  -->
            {% if form.errors %}
            <div id="errors">
              <div class="inner">
                <p style="color: red">Please correct the errors below</p>
                <ul>
                  {% for field in form %}
                  <!--  -->
                  {% if field.errors %}
                  <li>{{form.label}} : {{field.errors|striptags}}</li>
                  {% endif %}
                  <!--  -->
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
            <!-- end errors  -->

            <!-- fields -->
            {% for field in form %}
            <div class="mt-10">{{field}}</div>
            {% endfor %}
            <div class="mt-10">
              <input
                type="text"
                name="tag"
                placeholder="Tag"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Tag'"
                required=""
                class="single-input"
              />
            </div>
            <!-- end fields -->

            <!-- submit button -->
            <input
              type="submit"
              value="Create Post"
              class="genric-btn success-border circle"
              style="margin-top: 1rem"
            />
          </form>
          <!-- end form -->
        </div>
      </div>
      <div class="col-lg-4">{% include 'right-sidebar.html' %}</div>
    </div>
  </div>
</section>
<!--================Blog Area =================-->

{% endblock %}
